<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <link rel='stylesheet' href='http://getbootstrap.com/examples/signin/signin.css' /> -->
    <script>
      var props = <%- JSON.stringify(props) %>
    </script>
    <script type="text/javascript" src="<%= assetBundles.app.js %>" charset="utf-8"></script>
  </head>
  <body>
    <div id="container"><%- content %></div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  </body>
</html>
